<div class="container">
  <div class="row">
    <main class="posts-listing col-lg-8">
      <div class="container">
        <div class="row">
          <app-post-card-component
            class="post col-xl-6"
            *ngFor="let post of blogPosts"
            [post]="post"
          ></app-post-card-component>
          <div class="w-100">
            <app-paging-component
              [page]="page"
              (newPage)="getPage($event)"
            ></app-paging-component>
          </div>
        </div>
      </div>
    </main>

    <aside class="col-lg-4">
      <!-- Widget [Search Bar Widget]-->
      <app-search-widget-component></app-search-widget-component>
      <!-- Widget [Latest Posts Widget] -->
      <app-latest-posts-component></app-latest-posts-component>
      <!-- Widget [Categories Widget]-->
      <app-categories-component></app-categories-component>
      <!-- Widget [Tags Cloud Widget]-->
      <app-tags-component></app-tags-component>
    </aside>
  </div>
</div>
