<div class="container">
  <div class="row">
    <!-- Latest Posts -->
    <main class="post blog-post col-lg-8">
      <div class="container">
        <div class="row">
          <!-- we can change this after   -->
          <app-post-data-component></app-post-data-component>
        </div>
      </div>
    </main>
    <aside class="col-lg-4">
      <!-- Widget [Search Bar Widget]-->
      <app-search-widget-component></app-search-widget-component>
      <!-- Widget [Latest Posts Widget] -->
      <app-latest-posts-component></app-latest-posts-component>
      <!-- Widget [Categories Widget]-->
      <app-categories-component></app-categories-component>
      <!-- Widget [Tags Cloud Widget]-->
      <app-tags-component></app-tags-component>
    </aside>
  </div>
</div>
